.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
  margin-right: 1200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E9E9E9;
  /* min-height: 100vh; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* border: 3px solid black;
  border-radius: 20px;
  padding: 10px 50px 10px 50px; */
  color: #61dafb;
}

.app-title {
  color: black;
  border: 3px solid gray;
  border-radius: 20px;
  margin-top: -650px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-setup {
  position: absolute;
  display: flex;
  padding: 250px 850px 100px 850px;
  min-width: 100px;
  
  flex-direction: column;
  flex: 10px 10px;
}
